<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div class="box">

      
    
          <h3 class="titre">Modification mot de passe</h3>

        <form action="" class="bloc" (submit)="onSubmit()" [formGroup]="registerForm">

            <div *ngIf="errorSms!" class="d-flex justify-content-center text text-danger" id="">
                <span>{{errorSms}}</span>
            </div> 
            
                
                <div class="group">
                    <label for="mdp">Ancien <span style="color: red;">*</span></label>
                    <input type="password" id="mdp"  [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}"
                    formControlName="password" type="password" class="form-control" id="pass2">
                </div>
    
                <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors"
                class="text-danger">
             <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors['required']">
                 Ce champ est requis
             </div>
             <div *ngIf="!registerForm.controls['password'].errors['required'] && registerForm.controls['password'].errors['minlength']">
               Password doit contenir au minimum 8 caractères
             </div>
         </div>


         <div class="group">
            <label for="mdp">  Nouveau <span style="color: red;">*</span></label>
            <input type="password" id="mdp"  [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}"
            formControlName="password" type="password" class="form-control" id="pass2">
        </div>

        <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors"
        class="text-danger">
     <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors['required']">
         Ce champ est requis
     </div>
     <div *ngIf="!registerForm.controls['password'].errors['required'] && registerForm.controls['password'].errors['minlength']">
       Password doit contenir au minimum 8 caractères
     </div>
 </div>
                                            
            <div class="group">
                <label for="mdp"> confirmation <span style="color: red;">*</span></label>
                <input type="password" id="mdp"  [ngClass]="{'is-invalid':submitted && registerForm.controls['password'].errors}"
                formControlName="password" type="password" class="form-control" id="pass2">
            </div>

            <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors"
            class="text-danger">
         <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors['required']">
             Ce champ est requis
         </div>
         <div *ngIf="!registerForm.controls['password'].errors['required'] && registerForm.controls['password'].errors['minlength']">
           Password doit contenir au minimum 8 caractères
         </div>
     </div>

            <div class="group "> 
                <input type="submit" *ngIf="!spin" value="modifier" class="btn login" >
            </div>
        </form>
    </div>

    
</body>
</html>
